{% extends "CoLibraryBundle::layout.html.twig" %}

{% block collection %}
    <a href="{{ path('collection_add') }}">Nieuwe toevoegen</a>
    {#{% for item in items %}#}
        {#{{ dump(item) }}#}
    {#{% endfor %}#}

    {{ grid(grid, data) }}

{% endblock %}