{% extends "CoLibraryBundle::layout.html.twig" %}

{% block collection %}

    <h1>{{ 'collection.index.title'|trans }}</h1>

    {{ grid(grid, data) }}

    <a href="{{ path('collection_add') }}" class="button">{{ 'collection.index.btn_new'|trans }}</a>

{% endblock %}